.{
	margin:0px; padding:0px;
}



#navbar{
	width:1000px;height:80px;border:1px solid white;float:right;
}

#navbar>li{
width:200px;list-style:none;float:left;
}

li>a{display:block;color:white;line-height:80px;text-align:center;font-family:cursive;font-size:20px;text-decoration:none;}

.row1{color:#929292; background-color:#FFFFFF;}

#header{padding:30px 0; text-align:center;}

#header *{margin:0; padding:0; line-height:1;}
#header h1{font-size:36px; letter-spacing:3px;}
#header p{font-size:.9rem; text-transform:lowercase;}
#header a{color:inherit;}
